---
// Back to Top Button Component
---

<button class="back-to-top" id="backToTop" aria-label="Back to top">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4l-8 8h5v8h6v-8h5z"/>
    </svg>
</button>
