---
// Page Loader Component
---

<div class="page-loader" id="pageLoader">
    <div class="loader-logo">
        <img src="/images/nds-logo.jpg" alt="NDS Logo">
    </div>
    <div class="loader-bar">
        <div class="loader-progress"></div>
    </div>
</div>
